@import url('reset.css');

/* Core Components */

body{
	background: #ddd;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #555;
}

strong{
	font-weight: bold;
}

h1, h2, h3, h4{
	margin: 0;
}

h1{
	font-size: 1.5em;
}

h2{
	font-size: 1.35em;
	font-weight: bold;
}

h3{
	font-size: 1.2em;
}

h4{
	font-size: 1.1em;
}

a{
	color: #F73906;
}

.center{
	text-align: center;
}

.hidden{
	display: none;
}

.material{
	background-color: #fcfcfc;
	box-shadow: 0 0 3px rgba(0,0,0,0.12);
}

.container{
	padding: 0.75em;
}

.flexer{
	display: flex;
}

.flex-grow{
	flex-grow: 1;
}

button{
	background-color: #fff;
	color: #F73906;
	transition: all .2s ease;
}

button:hover{
	background-color: #F73906;
	color: #fff;
}

.close{
	padding: 0 0.25em;
	color: #999;
	font-size: 125%;
}

.error{
	color: red;
}

.inactive{
	background-color: #eee;
}


/* Layout */

#posts{
	width: 40%;
}

#comments{
	width: 60%;
}


/* Forms */

header input[type="text"], 
header button,
header label{
	padding: 0.75em;
	font-size: 1.25em;
	line-height: 1.25;
}

header input[type="text"]{
	flex-grow: 1;
}


/* Form replacement */

header:not(.waiting) form{
	display: none;
}

header.waiting>*:not(form){
	display: none;
}


/* Subreddit title/form switch style match*/

#posts header input[type="text"]{
	padding-left: 0;
}

#posts header label{
	padding-right: 0;
}

#posts header .title{
	cursor: text;
	color: #F73906;
}


/* TABS */

tabs{
	display: flex;
	transition: all .5s ease;
	transition-delay: 1s;
	max-height: 0;
	overflow: hidden;
}

header:not(.waiting):hover tabs,
header:not(.waiting) tabs:hover{
	max-height: 10em;
}

.tab{
	flex-grow: 1;
	padding: 0.6em;
	color: #888;
	text-align: center;
}

.tab.active{
	padding-bottom: 0.3em;
	border-bottom: 0.3em solid #F73906;
	color: #F73906;
	cursor: default;
}

.tab:not(.active):hover{
	background-color: #eee;
}


/* POSTS COLUMN */

.post{
	align-items: center;
	padding-left: 0.3em;
	cursor: pointer;
	border-top: 1px solid #ddd;
}

.post .stats{
	width: 13%;
}

.post h4{
	width: 87%;
}

.post.inactive{
	padding-left: 0;
	border-left: 0.3em solid #F73906;
}

.post.inactive h2,
.post.inactive p{
	display: none;
}

.post .stats img{
	max-width: 60%;
}

.post:not(.inactive) .stats img{
	display: none;
}



/* COMMENTS */

#comments header .stats{
	font-size: 125%;
	padding: 0 1em;
}

.author{
	font-weight: bold;
}

.flair{
	margin-left: 0.15em;
	color: #999;
}

.op, .flair{
	font-size: 90%;
}

.op{
	padding: 0 0.25em;
	background-color: #555;
	color: white;
}

.comment .stats{
	font-size: 85%;
	padding-right: 0.75em;
}

.topLevelComment{
	margin: 0.75em 0;
	padding-bottom: 0.75em;
}

.reply{
	margin-left: 0.75em;
}

.comment{
	padding-bottom: 0;
}

/* Animations */

.fadeIn{
	animation: fadeIn 0.3s ease;
	position: relative;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
		max-height: 0;
	}
	50%{
		opacity: 0;
		left: 2em;
		max-height: 9999px;
	}
	100%{
		opacity: 1;
		left: 0;
	}
}

/* Minimize Checkbox Toggle */

.collapser input[type="checkbox"]{
	display: none;
}
.collapser{
	position: relative;
}
.collapser label{
	font-size: 120%;
	padding: 0.2em;
	cursor: pointer;
	position: absolute;
	top: 0.2em;
	right: 0.2em;
	transition: all 0.2s ease;
}
.collapsable{
	overflow: hidden;
	max-height: 9000px;
	transition: max-height 0.2s cubic-bezier(0, 1, 0, 1), padding 0.2s ease;
}
.collapser input[type="checkbox"]:checked ~ * .collapsable,
.collapser input[type="checkbox"]:checked ~ .collapsable{
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.collapser input[type="checkbox"]:checked ~ * .semiCollapsable,
.collapser input[type="checkbox"]:checked ~ .semiCollapsable{
	font-size: 80%;
	transition-delay: 0.15s;
}
.collapser input[type="checkbox"]:checked ~ label{
	transform: rotate(90deg);
}








/* SETTINGS */

/* #settingsContainer{
	position: fixed;
	bottom: 0;
	overflow: hidden;
	width: 100%;
}

#logoContainer{
	position: relative;
	left: 1em;
	display: inline-block;
	line-height: 0;
	padding: 1em;
	transition: all 0.2s ease-out;
}

#logoContainer img{
	width: 2.5em;
}

#logoContainer:hover{
	cursor: pointer;
	padding-right: 1em;
}

#settings{
	max-height: 0;
	transition: all 0.2s ease-out;
	padding: 0 2em;
}

.closed #logoContainer:hover + #settings, 
.closed #settings:hover{
	max-height: 2em;
	padding-top: 2em;
}

.open #settings{
	max-height: 100em;
	padding: 2em;
} */