<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> </title>

	<!-- styles -->
	<link href="css/vendor/font-awesome/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body>


<ng-include src="'app/settings/settingsPane.html'"></ng-include>

<section id="content">

	<div id="postsContainer" class="container">
		<header class="material" ng-controller="SubSelectCtrl as vm">
			<div ng-if="subreddit" class="formReplacement" ng-click="vm.removeSub()">
				r/{{ subreddit }}
			</div>
			<div ng-class="{hidden : subreddit !== ''}">
				<ng-include src="'app/posts/subSelectForm.html'"></ng-include>
			</div>
			<ng-include src="'app/templates/tabs.html'" ng-controller="SubSortCtrl as vm"> </ng-include>
		</header>
		<div id="posts" class="material" ng-class="{minimized : subreddit === ''}" ng-controller="DisplayPostsCtrl as vm">
			<ng-include src="'app/templates/post.html'"> </ng-include>
		</div>
	</div>

	<div id="commentsContainer" class="container">
		<form class="form-inline" id="threadSelect">
			<input type="text" name="thread" placeholder="Thread URL" />
			<button type="submit">Go!</button>
		</form>
	</div>
</section>





<div id="stats" class="hidden">
	<h5>Total: <span id="postsAmount">0</span></h5>
	<h5>Request time: <span id="processTime">0</span></h5>
	<h5>List check: <span id="listCheck">0</span></h5>
</div>

<!-- bootstrapping -->
<!-- <script src="app/vendor/jquery-3.1.1.js" type="text/javascript" charset="utf-8"></script> -->
<script src="app/vendor/angular.js" type="text/javascript" charset="utf-8"></script>

<!-- core module -->
<script src="app/app.module.js" type="text/javascript" charset="utf-8"></script>

<!-- services -->
<script src="app/services/settings.service.js" type="text/javascript" charset="utf-8"></script>

<!-- settings module -->
<script src="app/settings/settingsDisplay.controller.js" type="text/javascript" charset="utf-8"></script>

<!-- posts module -->
<script src="app/posts/subSelect.controller.js" type="text/javascript" charset="utf-8"></script>
<script src="app/posts/subSort.controller.js" type="text/javascript" charset="utf-8"></script>
<script src="app/posts/displayPosts.controller.js" type="text/javascript" charset="utf-8"></script>

<!-- Remove Before Production -->
<script src="app/vendor/live.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>