<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> </title>

	<!-- styles -->
	<link href="css/vendor/font-awesome/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body>

<div ng-app="app.settings">
	<section id="settingsContainer" ng-controller="Pane as vm" class="{{vm.paneState}}" ng-include="'app/settings/pane.html'">
	</section>
</div>

<section id="content">

	<div id="postsContainer" class="container" ng-app="app.posts">
		<header ng-controller="Setter as vm">
			<div ng-if="vm.subreddit">
				<h2>
					r/{{ vm.subreddit }}
					<a href="" ng-click="vm.removeSub()" class="close"><i class="fa fa-close"></i></a>
				</h2>
			</div>
			<div ng-if="vm.subreddit === ''">
				<ng-include src="'app/posts/form.html'"></ng-include>
			</div>
		</header>
		<div class="tabContainer" ng-controller="Sorter as vm">
			<buton ng-repeat="option in vm.options" class="tab" ng-class="{active : vm.active == option}" ng-click="vm.active = option">
				{{option}}
			</buton>
		</div>
		<div id="posts">
		</div>
	</div>

	<div id="commentsContainer" class="container">
		<form class="form-inline" id="threadSelect">
			<input type="text" name="thread" placeholder="Thread URL" />
			<button type="submit">Go!</button>
		</form>
	</div>
</section>





<div id="stats" class="hidden">
	<h5>Total: <span id="postsAmount">0</span></h5>
	<h5>Request time: <span id="processTime">0</span></h5>
	<h5>List check: <span id="listCheck">0</span></h5>
</div>

<!-- bootstrapping -->
<script src="app/vendor/angular.js" type="text/javascript" charset="utf-8"></script>

<!-- core module -->
<script src="app/app.module.js" type="text/javascript" charset="utf-8"></script>

<!-- settings module -->
<script src="app/settings/settings.module.js" type="text/javascript" charset="utf-8"></script>
<script src="app/settings/pane.js" type="text/javascript" charset="utf-8"></script>
<script src="app/settings/values.js" type="text/javascript" charset="utf-8"></script>

<!-- posts module -->
<script src="app/posts/posts.module.js" type="text/javascript" charset="utf-8"></script>
<script src="app/posts/setter.js" type="text/javascript" charset="utf-8"></script>
<script src="app/posts/sorter.js" type="text/javascript" charset="utf-8"></script>
<!-- <script src="app/settings/pane.js" type="text/javascript" charset="utf-8"></script>
<script src="app/settings/values.js" type="text/javascript" charset="utf-8"></script> -->

<!-- Remove Before Production -->
<script src="app/vendor/live.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>