<header class="material" ng-class="{waiting : !vm.subreddit}">
	<div class="container">
		<h2 class="title" ng-click="vm.removeSub()">
			r/{{ vm.subreddit }}
		</h2>
	</div>
	<form class="form-inline flexer" ng-submit="vm.setSub()">
		<label>r/</label>
		<input type="text" placeholder="Subreddit" ng-model="vm.entry" autofocus autocomplete="false"/>
		<button type="submit">Go!</button>
	</form>
	<tabs class="material"></tabs>
</header>
<span class="error">{{ vm.error }}</span>
<section class="material">
	<ng-include src="'app/templates/post.html'"> </ng-include>
</section>