/* Utility classes */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: inherit; }

input[type="text"] {
  border-width: 0; }

a:focus,
button:focus,
input:focus {
  outline: none !important; }

a {
  text-decoration: none; }

html {
  font-size: 12px; }

body {
  background: #ddd;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #444; }

strong {
  font-weight: bold; }

h1, h2, h3, h4 {
  margin: 0; }

h1 {
  font-size: 1.5em;
  padding-right: 2em; }

h2 {
  font-size: 1.35em;
  font-weight: bold; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

a {
  color: #F73906; }

header {
  position: relative; }

blockquote {
  padding: 0 0.75em;
  margin: 0.75em 0;
  opacity: 0.7;
  border-left: 0.25em solid grey;
  font-style: italic; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.material {
  background-color: #fcfcfc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12); }

.container {
  padding: 1rem; }

.flexer {
  display: flex; }

.flex-grow {
  flex-grow: 1; }

button {
  background-color: #fcfcfc;
  color: #F73906;
  transition: all .2s ease; }

button:hover {
  background-color: #F73906;
  color: #fcfcfc; }

.close {
  color: #999;
  font-size: 120%;
  padding: 0.2em;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem; }

.material-icons {
  font-size: 1.4rem;
  line-height: 0; }

.error {
  color: red; }

.inactive {
  background-color: #eee; }

#posts {
  width: 40%; }

#comments {
  width: 60%; }

/* Animations */
.fadeIn {
  animation: fadeIn 0.3s ease;
  position: relative; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0; }
  50% {
    opacity: 0;
    left: 2em;
    max-height: 9999px; }
  100% {
    opacity: 1;
    left: 0; } }
/* Components */
/* Minimize Checkbox Toggle */
.collapser input[type="checkbox"] {
  display: none; }

.collapser {
  position: relative; }

.collapser label {
  color: #999;
  padding: 0.2em;
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  transition: all 0.2s ease; }

.collapsable {
  overflow: hidden;
  max-height: 9000px;
  transition: max-height 0.2s cubic-bezier(0, 1, 0, 1), padding 0.2s ease; }

.collapser input[type="checkbox"]:checked ~ * .collapsable,
.collapser input[type="checkbox"]:checked ~ .collapsable {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0; }

.collapser input[type="checkbox"]:checked ~ * .semiCollapsable,
.collapser input[type="checkbox"]:checked ~ .semiCollapsable {
  font-size: 80%;
  transition-delay: 0.15s; }

.collapser input[type="checkbox"]:checked ~ label {
  transform: rotate(90deg);
  right: 1.1rem;
  top: 0.3rem; }

/* TABS */
tabs {
  display: flex;
  transition: all .5s ease;
  transition-delay: 1s;
  max-height: 0;
  overflow: hidden; }

header:not(.waiting):hover tabs,
header:not(.waiting) tabs:hover {
  max-height: 10em; }

.tab {
  flex-grow: 1;
  padding: 0.6em;
  color: #444;
  text-align: center; }

.tab.active {
  padding-bottom: 0.3em;
  border-bottom: 0.3em solid #F73906;
  color: #F73906;
  cursor: default; }

.tab:not(.active):hover {
  background-color: #eee; }

/* Forms */
header input[type="text"],
header button,
header label {
  padding: 0.75em;
  font-size: 1.25em;
  line-height: 1.25; }

header input[type="text"] {
  flex-grow: 1; }

/* Form replacement */
header:not(.waiting) form {
  display: none; }

header.waiting > *:not(form) {
  display: none; }

/* Subreddit title/form switch style match */
#posts header input[type="text"] {
  padding-left: 0; }

#posts header label {
  padding-right: 0; }

#posts header .title {
  cursor: text;
  color: #F73906; }

/* Comments header */
#comments header .stats {
  font-size: 125%;
  padding: 0 1em; }

.post {
  align-items: center;
  padding-left: 0.3em;
  cursor: pointer;
  border-top: 1px solid #ddd; }

.post .stats {
  width: 13%; }

.post h4 {
  width: 87%; }

.post.inactive {
  padding-left: 0;
  border-left: 0.3em solid #F73906; }

.post.inactive h2,
.post.inactive p {
  display: none; }

.post .stats img {
  max-width: 60%; }

.post:not(.inactive) .stats img {
  display: none; }

.meta {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

header .user {
  padding-left: 0.5rem; }

.user {
  flex-grow: 0;
  display: flex;
  align-items: center; }
  .user .score {
    padding: 0 0.5rem 0 1rem;
    font-weight: bold;
    font-size: 120%; }
  .user .author {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-weight: bold; }
  .user svg {
    height: 1.65rem;
    display: none;
    width: auto;
    padding: 0 0.25rem; }
  .user .flair {
    display: inline-block;
    color: #999;
    font-size: 90%;
    line-height: 1; }
  .user .op {
    font-size: 90%;
    padding: 0 0.25rem;
    background-color: #444;
    color: #fcfcfc;
    display: inline-block;
    margin-right: 0.75rem; }

.nba .meta.ATL .user,
.nba .ATL > .meta .user {
  color: #FFFFFF;
  background-color: #E03A3E; }
  .nba .meta.ATL .user svg,
  .nba .ATL > .meta .user svg {
    display: block; }
    .nba .meta.ATL .user svg path,
    .nba .ATL > .meta .user svg path {
      fill: #FFFFFF; }
  .nba .meta.ATL .user .op,
  .nba .ATL > .meta .user .op {
    color: #E03A3E;
    background-color: #FFFFFF; }
.nba .meta.ATL .flair,
.nba .ATL > .meta .flair {
  display: none; }

.comment.ATL {
  border: 1px solid #E03A3E; }

.nba .meta.BKN .user,
.nba .BKN > .meta .user {
  color: #FFFFFF;
  background-color: #000000; }
  .nba .meta.BKN .user svg,
  .nba .BKN > .meta .user svg {
    display: block; }
    .nba .meta.BKN .user svg path,
    .nba .BKN > .meta .user svg path {
      fill: #FFFFFF; }
  .nba .meta.BKN .user .op,
  .nba .BKN > .meta .user .op {
    color: #000000;
    background-color: #FFFFFF; }
.nba .meta.BKN .flair,
.nba .BKN > .meta .flair {
  display: none; }

.comment.BKN {
  border: 1px solid #000000; }

.nba .meta.BOS .user,
.nba .BOS > .meta .user {
  color: #FFFFFF;
  background-color: #008348; }
  .nba .meta.BOS .user svg,
  .nba .BOS > .meta .user svg {
    display: block; }
    .nba .meta.BOS .user svg path,
    .nba .BOS > .meta .user svg path {
      fill: #FFFFFF; }
  .nba .meta.BOS .user .op,
  .nba .BOS > .meta .user .op {
    color: #008348;
    background-color: #FFFFFF; }
.nba .meta.BOS .flair,
.nba .BOS > .meta .flair {
  display: none; }

.comment.BOS {
  border: 1px solid #008348; }

.nba .meta.CHA .user,
.nba .CHA > .meta .user {
  color: #1D1160;
  background-color: #008CA8; }
  .nba .meta.CHA .user svg,
  .nba .CHA > .meta .user svg {
    display: block; }
    .nba .meta.CHA .user svg path,
    .nba .CHA > .meta .user svg path {
      fill: #1D1160; }
  .nba .meta.CHA .user .op,
  .nba .CHA > .meta .user .op {
    color: #008CA8;
    background-color: #1D1160; }
.nba .meta.CHA .flair,
.nba .CHA > .meta .flair {
  display: none; }

.comment.CHA {
  border: 1px solid #008CA8; }

.nba .meta.CHI .user,
.nba .CHI > .meta .user {
  color: #FFFFFF;
  background-color: #CE1141; }
  .nba .meta.CHI .user svg,
  .nba .CHI > .meta .user svg {
    display: block; }
    .nba .meta.CHI .user svg path,
    .nba .CHI > .meta .user svg path {
      fill: #FFFFFF; }
  .nba .meta.CHI .user .op,
  .nba .CHI > .meta .user .op {
    color: #CE1141;
    background-color: #FFFFFF; }
.nba .meta.CHI .flair,
.nba .CHI > .meta .flair {
  display: none; }

.comment.CHI {
  border: 1px solid #CE1141; }

.nba .meta.CLE .user,
.nba .CLE > .meta .user {
  color: #860038;
  background-color: #FDBB30; }
  .nba .meta.CLE .user svg,
  .nba .CLE > .meta .user svg {
    display: block; }
    .nba .meta.CLE .user svg path,
    .nba .CLE > .meta .user svg path {
      fill: #860038; }
  .nba .meta.CLE .user .op,
  .nba .CLE > .meta .user .op {
    color: #FDBB30;
    background-color: #860038; }
.nba .meta.CLE .flair,
.nba .CLE > .meta .flair {
  display: none; }

.comment.CLE {
  border: 1px solid #FDBB30; }

.nba .meta.DAL .user,
.nba .DAL > .meta .user {
  color: #007DC5;
  background-color: #C4CED3; }
  .nba .meta.DAL .user svg,
  .nba .DAL > .meta .user svg {
    display: block; }
    .nba .meta.DAL .user svg path,
    .nba .DAL > .meta .user svg path {
      fill: #007DC5; }
  .nba .meta.DAL .user .op,
  .nba .DAL > .meta .user .op {
    color: #C4CED3;
    background-color: #007DC5; }
.nba .meta.DAL .flair,
.nba .DAL > .meta .flair {
  display: none; }

.comment.DAL {
  border: 1px solid #C4CED3; }

.nba .meta.DEN .user,
.nba .DEN > .meta .user {
  color: #FFB20F;
  background-color: #4FA8FF; }
  .nba .meta.DEN .user svg,
  .nba .DEN > .meta .user svg {
    display: block; }
    .nba .meta.DEN .user svg path,
    .nba .DEN > .meta .user svg path {
      fill: #FFB20F; }
  .nba .meta.DEN .user .op,
  .nba .DEN > .meta .user .op {
    color: #4FA8FF;
    background-color: #FFB20F; }
.nba .meta.DEN .flair,
.nba .DEN > .meta .flair {
  display: none; }

.comment.DEN {
  border: 1px solid #4FA8FF; }

.nba .meta.DET .user,
.nba .DET > .meta .user {
  color: #FFFFFF;
  background-color: #006BB6; }
  .nba .meta.DET .user svg,
  .nba .DET > .meta .user svg {
    display: block; }
    .nba .meta.DET .user svg path,
    .nba .DET > .meta .user svg path {
      fill: #FFFFFF; }
  .nba .meta.DET .user .op,
  .nba .DET > .meta .user .op {
    color: #006BB6;
    background-color: #FFFFFF; }
.nba .meta.DET .flair,
.nba .DET > .meta .flair {
  display: none; }

.comment.DET {
  border: 1px solid #006BB6; }

.nba .meta.GSW .user,
.nba .GSW > .meta .user {
  color: #FDB927;
  background-color: #006BB6; }
  .nba .meta.GSW .user svg,
  .nba .GSW > .meta .user svg {
    display: block; }
    .nba .meta.GSW .user svg path,
    .nba .GSW > .meta .user svg path {
      fill: #FDB927; }
  .nba .meta.GSW .user .op,
  .nba .GSW > .meta .user .op {
    color: #006BB6;
    background-color: #FDB927; }
.nba .meta.GSW .flair,
.nba .GSW > .meta .flair {
  display: none; }

.comment.GSW {
  border: 1px solid #006BB6; }

.nba .meta.HOU .user,
.nba .HOU > .meta .user {
  color: #CE1141;
  background-color: #C4CED3; }
  .nba .meta.HOU .user svg,
  .nba .HOU > .meta .user svg {
    display: block; }
    .nba .meta.HOU .user svg path,
    .nba .HOU > .meta .user svg path {
      fill: #CE1141; }
  .nba .meta.HOU .user .op,
  .nba .HOU > .meta .user .op {
    color: #C4CED3;
    background-color: #CE1141; }
.nba .meta.HOU .flair,
.nba .HOU > .meta .flair {
  display: none; }

.comment.HOU {
  border: 1px solid #C4CED3; }

.nba .meta.IND .user,
.nba .IND > .meta .user {
  color: #FFC633;
  background-color: #00275D; }
  .nba .meta.IND .user svg,
  .nba .IND > .meta .user svg {
    display: block; }
    .nba .meta.IND .user svg path,
    .nba .IND > .meta .user svg path {
      fill: #FFC633; }
  .nba .meta.IND .user .op,
  .nba .IND > .meta .user .op {
    color: #00275D;
    background-color: #FFC633; }
.nba .meta.IND .flair,
.nba .IND > .meta .flair {
  display: none; }

.comment.IND {
  border: 1px solid #00275D; }

.nba .meta.LAC .user,
.nba .LAC > .meta .user {
  color: #ED174C;
  background-color: #FFFFFF; }
  .nba .meta.LAC .user svg,
  .nba .LAC > .meta .user svg {
    display: block; }
    .nba .meta.LAC .user svg path,
    .nba .LAC > .meta .user svg path {
      fill: #ED174C; }
  .nba .meta.LAC .user .op,
  .nba .LAC > .meta .user .op {
    color: #FFFFFF;
    background-color: #ED174C; }
.nba .meta.LAC .flair,
.nba .LAC > .meta .flair {
  display: none; }

.comment.LAC {
  border: 1px solid #FFFFFF; }

.nba .meta.LAL .user,
.nba .LAL > .meta .user {
  color: #FDB927;
  background-color: #552582; }
  .nba .meta.LAL .user svg,
  .nba .LAL > .meta .user svg {
    display: block; }
    .nba .meta.LAL .user svg path,
    .nba .LAL > .meta .user svg path {
      fill: #FDB927; }
  .nba .meta.LAL .user .op,
  .nba .LAL > .meta .user .op {
    color: #552582;
    background-color: #FDB927; }
.nba .meta.LAL .flair,
.nba .LAL > .meta .flair {
  display: none; }

.comment.LAL {
  border: 1px solid #552582; }

.nba .meta.MEM .user,
.nba .MEM > .meta .user {
  color: #6189B9;
  background-color: #23375B; }
  .nba .meta.MEM .user svg,
  .nba .MEM > .meta .user svg {
    display: block; }
    .nba .meta.MEM .user svg path,
    .nba .MEM > .meta .user svg path {
      fill: #6189B9; }
  .nba .meta.MEM .user .op,
  .nba .MEM > .meta .user .op {
    color: #23375B;
    background-color: #6189B9; }
.nba .meta.MEM .flair,
.nba .MEM > .meta .flair {
  display: none; }

.comment.MEM {
  border: 1px solid #23375B; }

.nba .meta.MIA .user,
.nba .MIA > .meta .user {
  color: #FFFFFF;
  background-color: #98002E; }
  .nba .meta.MIA .user svg,
  .nba .MIA > .meta .user svg {
    display: block; }
    .nba .meta.MIA .user svg path,
    .nba .MIA > .meta .user svg path {
      fill: #FFFFFF; }
  .nba .meta.MIA .user .op,
  .nba .MIA > .meta .user .op {
    color: #98002E;
    background-color: #FFFFFF; }
.nba .meta.MIA .flair,
.nba .MIA > .meta .flair {
  display: none; }

.comment.MIA {
  border: 1px solid #98002E; }

.nba .meta.MIL .user,
.nba .MIL > .meta .user {
  color: #EEE1C6;
  background-color: #00471B; }
  .nba .meta.MIL .user svg,
  .nba .MIL > .meta .user svg {
    display: block; }
    .nba .meta.MIL .user svg path,
    .nba .MIL > .meta .user svg path {
      fill: #EEE1C6; }
  .nba .meta.MIL .user .op,
  .nba .MIL > .meta .user .op {
    color: #00471B;
    background-color: #EEE1C6; }
.nba .meta.MIL .flair,
.nba .MIL > .meta .flair {
  display: none; }

.comment.MIL {
  border: 1px solid #00471B; }

.nba .meta.MIN .user,
.nba .MIN > .meta .user {
  color: #C4CED3;
  background-color: #005083; }
  .nba .meta.MIN .user svg,
  .nba .MIN > .meta .user svg {
    display: block; }
    .nba .meta.MIN .user svg path,
    .nba .MIN > .meta .user svg path {
      fill: #C4CED3; }
  .nba .meta.MIN .user .op,
  .nba .MIN > .meta .user .op {
    color: #005083;
    background-color: #C4CED3; }
.nba .meta.MIN .flair,
.nba .MIN > .meta .flair {
  display: none; }

.comment.MIN {
  border: 1px solid #005083; }

.nba .meta.NOP .user,
.nba .NOP > .meta .user {
  color: #B4975A;
  background-color: #002B5C; }
  .nba .meta.NOP .user svg,
  .nba .NOP > .meta .user svg {
    display: block; }
    .nba .meta.NOP .user svg path,
    .nba .NOP > .meta .user svg path {
      fill: #B4975A; }
  .nba .meta.NOP .user .op,
  .nba .NOP > .meta .user .op {
    color: #002B5C;
    background-color: #B4975A; }
.nba .meta.NOP .flair,
.nba .NOP > .meta .flair {
  display: none; }

.comment.NOP {
  border: 1px solid #002B5C; }

.nba .meta.NYK .user,
.nba .NYK > .meta .user {
  color: #F58426;
  background-color: #006BB6; }
  .nba .meta.NYK .user svg,
  .nba .NYK > .meta .user svg {
    display: block; }
    .nba .meta.NYK .user svg path,
    .nba .NYK > .meta .user svg path {
      fill: #F58426; }
  .nba .meta.NYK .user .op,
  .nba .NYK > .meta .user .op {
    color: #006BB6;
    background-color: #F58426; }
.nba .meta.NYK .flair,
.nba .NYK > .meta .flair {
  display: none; }

.comment.NYK {
  border: 1px solid #006BB6; }

.nba .meta.OKC .user,
.nba .OKC > .meta .user {
  color: #002D62;
  background-color: #F05133; }
  .nba .meta.OKC .user svg,
  .nba .OKC > .meta .user svg {
    display: block; }
    .nba .meta.OKC .user svg path,
    .nba .OKC > .meta .user svg path {
      fill: #002D62; }
  .nba .meta.OKC .user .op,
  .nba .OKC > .meta .user .op {
    color: #F05133;
    background-color: #002D62; }
.nba .meta.OKC .flair,
.nba .OKC > .meta .flair {
  display: none; }

.comment.OKC {
  border: 1px solid #F05133; }

.nba .meta.ORL .user,
.nba .ORL > .meta .user {
  color: #C4CED3;
  background-color: #007DC5; }
  .nba .meta.ORL .user svg,
  .nba .ORL > .meta .user svg {
    display: block; }
    .nba .meta.ORL .user svg path,
    .nba .ORL > .meta .user svg path {
      fill: #C4CED3; }
  .nba .meta.ORL .user .op,
  .nba .ORL > .meta .user .op {
    color: #007DC5;
    background-color: #C4CED3; }
.nba .meta.ORL .flair,
.nba .ORL > .meta .flair {
  display: none; }

.comment.ORL {
  border: 1px solid #007DC5; }

.nba .meta.PHI .user,
.nba .PHI > .meta .user {
  color: #FFFFFF;
  background-color: #006BB6; }
  .nba .meta.PHI .user svg,
  .nba .PHI > .meta .user svg {
    display: block; }
    .nba .meta.PHI .user svg path,
    .nba .PHI > .meta .user svg path {
      fill: #FFFFFF; }
  .nba .meta.PHI .user .op,
  .nba .PHI > .meta .user .op {
    color: #006BB6;
    background-color: #FFFFFF; }
.nba .meta.PHI .flair,
.nba .PHI > .meta .flair {
  display: none; }

.comment.PHI {
  border: 1px solid #006BB6; }

.nba .meta.PHX .user,
.nba .PHX > .meta .user {
  color: #E56020;
  background-color: #1D1160; }
  .nba .meta.PHX .user svg,
  .nba .PHX > .meta .user svg {
    display: block; }
    .nba .meta.PHX .user svg path,
    .nba .PHX > .meta .user svg path {
      fill: #E56020; }
  .nba .meta.PHX .user .op,
  .nba .PHX > .meta .user .op {
    color: #1D1160;
    background-color: #E56020; }
.nba .meta.PHX .flair,
.nba .PHX > .meta .flair {
  display: none; }

.comment.PHX {
  border: 1px solid #1D1160; }

.nba .meta.POR .user,
.nba .POR > .meta .user {
  color: #F0163A;
  background-color: #B6BFBF; }
  .nba .meta.POR .user svg,
  .nba .POR > .meta .user svg {
    display: block; }
    .nba .meta.POR .user svg path,
    .nba .POR > .meta .user svg path {
      fill: #F0163A; }
  .nba .meta.POR .user .op,
  .nba .POR > .meta .user .op {
    color: #B6BFBF;
    background-color: #F0163A; }
.nba .meta.POR .flair,
.nba .POR > .meta .flair {
  display: none; }

.comment.POR {
  border: 1px solid #B6BFBF; }

.nba .meta.SAC .user,
.nba .SAC > .meta .user {
  color: #FFFFFF;
  background-color: #724C9F; }
  .nba .meta.SAC .user svg,
  .nba .SAC > .meta .user svg {
    display: block; }
    .nba .meta.SAC .user svg path,
    .nba .SAC > .meta .user svg path {
      fill: #FFFFFF; }
  .nba .meta.SAC .user .op,
  .nba .SAC > .meta .user .op {
    color: #724C9F;
    background-color: #FFFFFF; }
.nba .meta.SAC .flair,
.nba .SAC > .meta .flair {
  display: none; }

.comment.SAC {
  border: 1px solid #724C9F; }

.nba .meta.SAS .user,
.nba .SAS > .meta .user {
  color: #000000;
  background-color: #B6BFBF; }
  .nba .meta.SAS .user svg,
  .nba .SAS > .meta .user svg {
    display: block; }
    .nba .meta.SAS .user svg path,
    .nba .SAS > .meta .user svg path {
      fill: #000000; }
  .nba .meta.SAS .user .op,
  .nba .SAS > .meta .user .op {
    color: #B6BFBF;
    background-color: #000000; }
.nba .meta.SAS .flair,
.nba .SAS > .meta .flair {
  display: none; }

.comment.SAS {
  border: 1px solid #B6BFBF; }

.nba .meta.TOR .user,
.nba .TOR > .meta .user {
  color: #C4CED3;
  background-color: #CE1141; }
  .nba .meta.TOR .user svg,
  .nba .TOR > .meta .user svg {
    display: block; }
    .nba .meta.TOR .user svg path,
    .nba .TOR > .meta .user svg path {
      fill: #C4CED3; }
  .nba .meta.TOR .user .op,
  .nba .TOR > .meta .user .op {
    color: #CE1141;
    background-color: #C4CED3; }
.nba .meta.TOR .flair,
.nba .TOR > .meta .flair {
  display: none; }

.comment.TOR {
  border: 1px solid #CE1141; }

.nba .meta.UTA .user,
.nba .UTA > .meta .user {
  color: #F9A01B;
  background-color: #002B5C; }
  .nba .meta.UTA .user svg,
  .nba .UTA > .meta .user svg {
    display: block; }
    .nba .meta.UTA .user svg path,
    .nba .UTA > .meta .user svg path {
      fill: #F9A01B; }
  .nba .meta.UTA .user .op,
  .nba .UTA > .meta .user .op {
    color: #002B5C;
    background-color: #F9A01B; }
.nba .meta.UTA .flair,
.nba .UTA > .meta .flair {
  display: none; }

.comment.UTA {
  border: 1px solid #002B5C; }

.nba .meta.WSH .user,
.nba .WSH > .meta .user {
  color: #002566;
  background-color: #F5002F; }
  .nba .meta.WSH .user svg,
  .nba .WSH > .meta .user svg {
    display: block; }
    .nba .meta.WSH .user svg path,
    .nba .WSH > .meta .user svg path {
      fill: #002566; }
  .nba .meta.WSH .user .op,
  .nba .WSH > .meta .user .op {
    color: #F5002F;
    background-color: #002566; }
.nba .meta.WSH .flair,
.nba .WSH > .meta .flair {
  display: none; }

.comment.WSH {
  border: 1px solid #F5002F; }

.comment {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto; }
  .comment .body {
    padding: 0.5rem 1rem 1.5rem 1rem;
    font-size: 120%; }

.topLevelComment {
  margin: 0.75rem 0; }

.reply {
  padding-left: 1rem; }
  .reply .comment {
    border-bottom: 0;
    border-right: 0; }

/*# sourceMappingURL=main.css.map */
