/* Utility classes */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: inherit; }

input[type="text"] {
  border-width: 0; }

a:focus,
button:focus,
input:focus {
  outline: none !important; }

a {
  text-decoration: none; }

html {
  font-size: 12px; }

body {
  background: #ddd;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #444; }

strong {
  font-weight: bold; }

h1, h2, h3, h4 {
  margin: 0; }

h1 {
  font-size: 1.5em;
  padding-right: 2em; }

h2 {
  font-size: 1.35em;
  font-weight: bold; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

a {
  color: #F73906; }

header {
  position: relative; }

blockquote {
  padding: 0 0.75em;
  margin: 0.75em 0;
  opacity: 0.7;
  border-left: 0.25em solid grey;
  font-style: italic; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.material {
  background-color: #fcfcfc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12); }

.container {
  padding: 1rem; }

.flexer {
  display: flex; }

.flex-grow {
  flex-grow: 1; }

button {
  background-color: #fcfcfc;
  color: #F73906;
  transition: all .2s ease; }

button:hover {
  background-color: #F73906;
  color: #fcfcfc; }

.close {
  color: #999;
  font-size: 120%;
  padding: 0.2em;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem; }

.material-icons {
  font-size: 1.4rem;
  line-height: 0; }

.error {
  color: red; }

.inactive {
  background-color: #eee; }

#posts {
  width: 40%; }

#comments {
  width: 60%; }

/* Animations */
.fadeIn {
  animation: fadeIn 0.3s ease;
  position: relative; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0; }
  50% {
    opacity: 0;
    left: 2em;
    max-height: 9999px; }
  100% {
    opacity: 1;
    left: 0; } }
/* Components */
/* Minimize Checkbox Toggle */
.collapser input[type="checkbox"] {
  display: none; }

.collapser {
  position: relative; }

.collapser label {
  color: #999;
  padding: 0.2em;
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  transition: all 0.2s ease; }

.collapsable {
  overflow: hidden;
  max-height: 9000px;
  transition: max-height 0.2s cubic-bezier(0, 1, 0, 1), padding 0.2s ease; }

.collapser input[type="checkbox"]:checked ~ * .collapsable,
.collapser input[type="checkbox"]:checked ~ .collapsable {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0; }

.collapser input[type="checkbox"]:checked ~ * .semiCollapsable,
.collapser input[type="checkbox"]:checked ~ .semiCollapsable {
  font-size: 80%;
  transition-delay: 0.15s; }

.collapser input[type="checkbox"]:checked ~ label {
  transform: rotate(90deg);
  right: 1.1rem;
  top: 0.3rem; }

/* TABS */
tabs {
  display: flex;
  transition: all .5s ease;
  transition-delay: 1s;
  max-height: 0;
  overflow: hidden; }

header:not(.waiting):hover tabs,
header:not(.waiting) tabs:hover {
  max-height: 10em; }

.tab {
  flex-grow: 1;
  padding: 0.6em;
  color: #444;
  text-align: center; }

.tab.active {
  padding-bottom: 0.3em;
  border-bottom: 0.3em solid #F73906;
  color: #F73906;
  cursor: default; }

.tab:not(.active):hover {
  background-color: #eee; }

/* Forms */
header input[type="text"],
header button,
header label {
  padding: 0.75em;
  font-size: 1.25em;
  line-height: 1.25; }

header input[type="text"] {
  flex-grow: 1; }

/* Form replacement */
header:not(.waiting) form {
  display: none; }

header.waiting > *:not(form) {
  display: none; }

/* Subreddit title/form switch style match */
#posts header input[type="text"] {
  padding-left: 0; }

#posts header label {
  padding-right: 0; }

#posts header .title {
  cursor: text;
  color: #F73906; }

/* Comments header */
#comments header .stats {
  font-size: 125%;
  padding: 0 1em; }

.post {
  align-items: center;
  padding-left: 0.3em;
  cursor: pointer;
  border-top: 1px solid #ddd; }

.post .stats {
  width: 13%; }

.post h4 {
  width: 87%; }

.post.inactive {
  padding-left: 0;
  border-left: 0.3em solid #F73906; }

.post.inactive h2,
.post.inactive p {
  display: none; }

.post .stats img {
  max-width: 60%; }

.post:not(.inactive) .stats img {
  display: none; }

.meta {
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem; }

.comment .meta {
  border: 1px solid #ccc; }

.author {
  display: inline-block; }

.flair {
  margin-left: 0.15em;
  color: #999; }

.comment .meta[class*=" Hawks"] {
  color: #C3D600;
  background-color: #E03A3E;
  border: none; }
  .comment .meta[class*=" Hawks"] .flair {
    display: none; }

.comment .meta[class*=" Celtics"] {
  color: #FFFFFF;
  background-color: #008348;
  border: none; }
  .comment .meta[class*=" Celtics"] .flair {
    display: none; }

.comment .meta[class*=" Nets"] {
  color: #FFFFFF;
  background-color: #000000;
  border: none; }
  .comment .meta[class*=" Nets"] .flair {
    display: none; }

.comment .meta[class*=" Hornets"] {
  color: #008CA8;
  background-color: #1D1160;
  border: none; }
  .comment .meta[class*=" Hornets"] .flair {
    display: none; }

.comment .meta[class*=" Bulls"] {
  color: #FFFFFF;
  background-color: #CE1141;
  border: none; }
  .comment .meta[class*=" Bulls"] .flair {
    display: none; }

.comment .meta[class*=" Cavaliers"] {
  color: #860038;
  background-color: #FDBB30;
  border: none; }
  .comment .meta[class*=" Cavaliers"] .flair {
    display: none; }

.comment .meta[class*=" Mavericks"] {
  color: #007DC5;
  background-color: #20385B;
  border: none; }
  .comment .meta[class*=" Mavericks"] .flair {
    display: none; }

.comment .meta[class*=" Nuggets"] {
  color: #FFB20F;
  background-color: #4FA8FF;
  border: none; }
  .comment .meta[class*=" Nuggets"] .flair {
    display: none; }

.comment .meta[class*=" Pistons"] {
  color: #ED174C;
  background-color: #006BB6;
  border: none; }
  .comment .meta[class*=" Pistons"] .flair {
    display: none; }

.comment .meta[class*=" Warriors"] {
  color: #FDB927;
  background-color: #006BB6;
  border: none; }
  .comment .meta[class*=" Warriors"] .flair {
    display: none; }

.comment .meta[class*=" Rockets"] {
  color: #CE1141;
  background-color: #C4CED3;
  border: none; }
  .comment .meta[class*=" Rockets"] .flair {
    display: none; }

.comment .meta[class*=" Pacers"] {
  color: #FFC633;
  background-color: #00275D;
  border: none; }
  .comment .meta[class*=" Pacers"] .flair {
    display: none; }

.comment .meta[class*=" Clippers"] {
  color: #00285D;
  background-color: #ED174C;
  border: none; }
  .comment .meta[class*=" Clippers"] .flair {
    display: none; }

.comment .meta[class*=" Lakers"] {
  color: #552582;
  background-color: #FDB927;
  border: none; }
  .comment .meta[class*=" Lakers"] .flair {
    display: none; }

.comment .meta[class*=" Grizzlies"] {
  color: #BBD1E4;
  background-color: #6189B9;
  border: none; }
  .comment .meta[class*=" Grizzlies"] .flair {
    display: none; }

.comment .meta[class*=" Heat"] {
  color: #FFFFFF;
  background-color: #98002E;
  border: none; }
  .comment .meta[class*=" Heat"] .flair {
    display: none; }

.comment .meta[class*=" Bucks"] {
  color: #EEE1C6;
  background-color: #00471B;
  border: none; }
  .comment .meta[class*=" Bucks"] .flair {
    display: none; }

.comment .meta[class*=" Timberwolves"] {
  color: #C4CED3;
  background-color: #005083;
  border: none; }
  .comment .meta[class*=" Timberwolves"] .flair {
    display: none; }

.comment .meta[class*=" Pelicans"] {
  color: #B4975A;
  background-color: #002B5C;
  border: none; }
  .comment .meta[class*=" Pelicans"] .flair {
    display: none; }

.comment .meta[class*=" Knicks"] {
  color: #F58426;
  background-color: #006BB6;
  border: none; }
  .comment .meta[class*=" Knicks"] .flair {
    display: none; }

.comment .meta[class*=" Thunder"] {
  color: #007DC3;
  background-color: #F05133;
  border: none; }
  .comment .meta[class*=" Thunder"] .flair {
    display: none; }

.comment .meta[class*=" Magic"] {
  color: #C4CED3;
  background-color: #007DC5;
  border: none; }
  .comment .meta[class*=" Magic"] .flair {
    display: none; }

.comment .meta[class*=" 76ers"] {
  color: #FFFFFF;
  background-color: #006BB6;
  border: none; }
  .comment .meta[class*=" 76ers"] .flair {
    display: none; }

.comment .meta[class*=" Suns"] {
  color: #E56020;
  background-color: #1D1160;
  border: none; }
  .comment .meta[class*=" Suns"] .flair {
    display: none; }

.comment .meta[class*=" Blazers"] {
  color: #F0163A;
  background-color: #B6BFBF;
  border: none; }
  .comment .meta[class*=" Blazers"] .flair {
    display: none; }

.comment .meta[class*=" Kings"] {
  color: #FFFFFF;
  background-color: #724C9F;
  border: none; }
  .comment .meta[class*=" Kings"] .flair {
    display: none; }

.comment .meta[class*=" Spurs"] {
  color: #000000;
  background-color: #B6BFBF;
  border: none; }
  .comment .meta[class*=" Spurs"] .flair {
    display: none; }

.comment .meta[class*=" Raptors"] {
  color: #C4CED3;
  background-color: #CE1141;
  border: none; }
  .comment .meta[class*=" Raptors"] .flair {
    display: none; }

.comment .meta[class*=" Jazz"] {
  color: #F9A01B;
  background-color: #00471B;
  border: none; }
  .comment .meta[class*=" Jazz"] .flair {
    display: none; }

.comment .meta[class*=" Wizards"] {
  color: #002566;
  background-color: #F5002F;
  border: none; }
  .comment .meta[class*=" Wizards"] .flair {
    display: none; }

.op, .flair {
  font-size: 90%; }

.op {
  padding: 0 0.35em;
  background-color: #555;
  border: 1px solid white;
  color: white;
  display: inline-block;
  margin-left: 5px; }

.comment .score {
  line-height: 0;
  margin-right: 5px;
  font-size: 110%;
  font-weight: bold; }

.topLevelComment {
  margin: 0.75rem 0; }

.reply {
  padding-bottom: 0;
  padding-top: 0; }

.comment {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto; }

/*# sourceMappingURL=main.css.map */
