$brand: #F73906;

$default-text: #444;
$material-bkg: #fcfcfc;

$faded-text: #999;
$faded-bkg: #eee;

$teams: (
	Hawks: (
		foreground	: #C3D600,
		background 	: #E03A3E,
	),
	Celtics: (
		foreground	: #FFFFFF,
		background 	: #008348,
	),
	Nets: (
		foreground	: #FFFFFF,
		background 	: #000000,
	),
	Hornets: (
		foreground	: #008CA8,
		background 	: #1D1160,
	),
	Bulls: (
		foreground	: #FFFFFF,
		background 	: #CE1141,
	),
	Cavaliers: (
		foreground	: #860038,
		background 	: #FDBB30,
	),
	Mavericks: (
		foreground	: #007DC5,
		background 	: #20385B,
	),
	Nuggets: (
		foreground	: #FFB20F,
		background 	: #4FA8FF,
	),
	Pistons: (
		foreground	: #ED174C,
		background 	: #006BB6,
	),
	Warriors: (
		foreground	: #FDB927,
		background 	: #006BB6,
	),
	Rockets: (
		foreground	: #CE1141,
		background 	: #C4CED3,
	),
	Pacers: (
		foreground	: #FFC633,
		background 	: #00275D,
	),
	Clippers: (
		foreground	: #00285D,
		background 	: #ED174C,
	),
	Lakers: (
		foreground	: #552582,
		background 	: #FDB927,
	),
	Grizzlies: (
		foreground	: #BBD1E4,
		background 	: #6189B9,
	),
	Heat: (
		foreground	: #FFFFFF,
		background 	: #98002E,
	),
	Bucks: (
		foreground	: #EEE1C6,
		background 	: #00471B,
	),
	Timberwolves: (
		foreground	: #C4CED3,
		background 	: #005083,
	),
	Pelicans: (
		foreground	: #B4975A,
		background 	: #002B5C,
	),
	Knicks: (
		foreground	: #F58426,
		background 	: #006BB6,
	),
	Thunder: (
		foreground	: #007DC3,
		background 	: #F05133,
	),
	Magic: (
		foreground	: #C4CED3,
		background 	: #007DC5,
	),
	76ers: (
		foreground	: #FFFFFF,
		background 	: #006BB6,
	),
	Suns: (
		foreground	: #E56020,
		background 	: #1D1160,
	),
	Blazers: (
		foreground	: #F0163A,
		background 	: #B6BFBF,
	),
	Kings: (
		foreground	: #FFFFFF,
		background 	: #724C9F,
	),
	Spurs: (
		foreground	: #000000,
		background 	: #B6BFBF,
	),
	Raptors: (
		foreground	: #C4CED3,
		background 	: #CE1141,
	),
	Jazz: (
		foreground	: #F9A01B,
		background 	: #00471B,
	),
	Wizards: (
		foreground	: #002566,
		background 	: #F5002F,
	),
);