$teams: (
	ATL: (
		foreground	: #FFFFFF,
		border 		: #C3D600,
		background 	: #E03A3E,
	),
	BKN: (
		foreground	: #FFFFFF,
		border 		: transparent,
		background 	: #000000,
	),
	BOS: (
		foreground	: #FFFFFF,
		border 		: transparent,
		background 	: #008348,
	),
	CHA: (
		foreground	: #008CA8,
		border 		: #FFFFFF,
		background 	: #1D1160,
	),
	CHI: (
		foreground	: #CE1141,
		border 		: #000000,
		background 	: #000000,
	),
	CLE: (
		foreground	: #860038,
		border 		: #002D62,
		background 	: #FDBB30,
	),
	DAL: (
		foreground	: #007DC5,
		border 		: transparent,
		background 	: #20385B,
	),
	DEN: (
		foreground	: #FFB20F,
		border 		: transparent,
		background 	: #4FA8FF,
	),
	DET: (
		foreground	: #ED174C,
		border 		: transparent,
		background 	: #006BB6,
	),
	GSW: (
		foreground	: #FDB927,
		border 		: transparent,
		background 	: #006BB6,
	),
	HOU: (
		foreground	: #CE1141,
		border 		: transparent,
		background 	: #C4CED3,
	),
	IND: (
		foreground	: #FFC633,
		border 		: transparent,
		background 	: #00275D,
	),
	LAC: (
		foreground	: #ED174C,
		border 		: transparent,
		background 	: #FFFFFF,
	),
	LAL: (
		foreground	: #FDB927,
		border 		: transparent,
		background 	: #552582,
	),
	MEM: (
		foreground	: #6189B9,
		border 		: transparent,
		background 	: #23375B,
	),
	MIA: (
		foreground	: #FFFFFF,
		border 		: transparent,
		background 	: #98002E,
	),
	MIL: (
		foreground	: #EEE1C6,
		border 		: transparent,
		background 	: #00471B,
	),
	MIN: (
		foreground	: #C4CED3,
		border 		: transparent,
		background 	: #005083,
	),
	NOP: (
		foreground	: #B4975A,
		border 		: transparent,
		background 	: #002B5C,
	),
	NYK: (
		foreground	: #F58426,
		border 		: transparent,
		background 	: #006BB6,
	),
	OKC: (
		foreground	: #007DC3,
		border 		: transparent,
		background 	: #F05133,
	),
	ORL: (
		foreground	: #C4CED3,
		border 		: transparent,
		background 	: #007DC5,
	),
	PHI: (
		foreground	: #FFFFFF,
		border 		: transparent,
		background 	: #006BB6,
	),
	PHX: (
		foreground	: #E56020,
		border 		: transparent,
		background 	: #1D1160,
	),
	POR: (
		foreground	: #F0163A,
		border 		: transparent,
		background 	: #B6BFBF,
	),
	SAC: (
		foreground	: #FFFFFF,
		border 		: transparent,
		background 	: #724C9F,
	),
	SAS: (
		foreground	: #000000,
		border 		: transparent,
		background 	: #B6BFBF,
	),
	TOR: (
		foreground	: #C4CED3,
		border 		: transparent,
		background 	: #CE1141,
	),
	UTA: (
		foreground	: #F9A01B,
		border 		: transparent,
		background 	: #002B5C,
	),
	WSH: (
		foreground	: #002566,
		border 		: transparent,
		background 	: #F5002F,
	),
);