<header class="material" ng-class="{waiting : !vm.thread.title}">
	<div class="flexer container">
		<div class="stats center">
			<h2>{{ vm.thread.score | kthousand }}</h2>
			<p>{{ vm.thread.num_comments | kthousand }}</p>
		</div>
		<h1 class="flex-grow">
			{{ vm.thread.title }}
		</h1>
		<a href="" ng-click="vm.removeThread()" class="close">
			<i class="fa fa-close"></i>
		</a>
	</div>
	<div class="collapser">
		<input type="checkbox" id="selfTextCollapse" ng-if="vm.thread.selftext_html">
		<label for="selfTextCollapse" ng-if="vm.thread.selftext_html"><i class="fa fa-angle-down"></i></label>
		<div class="flexer">
			<div class="meta container material flex-grow {{vm.thread.author_flair_css_class}}">
				posted by 
				<span class="author">
					{{ vm.thread.author }}
				</span>
				<span class="op">
					OP
				</span>
				<span class="flair" ng-if="vm.thread.author_flair_text">
					{{ vm.thread.author_flair_text }}
				</span>
			</div>
		</div>
		<article class="container inactive collapsable" ng-if="vm.thread.selftext_html" ng-bind-html="vm.thread.selftext_html | html">
		</article>
	</div>
	<form class="form-inline flexer" ng-submit="vm.setThread()">
		<input type="text" placeholder="Thread URL" ng-model="vm.entry" autocomplete="false"/>
		<button type="submit">Go!</button>
	</form>
	<tabs class="material"></tabs>
</header>
<span class="error">{{ vm.error }}</span>
<section ng-class="{minimized : !vm.comments}">
	<div class="material topLevelComment animateIn collapser flexer" ng-repeat="singleComment in vm.comments">
		<input type="checkbox" id="comment-{{singleComment.id}}">
		<label for="comment-{{singleComment.id}}"><i class="fa fa-angle-down"></i></label>
		<comment comment="singleComment" class="flex-grow"></comment>
	</div>
</section>