.meta{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0;
}
.user{
	flex-grow: 0;
	padding: 0 $xl-space;
	display: flex;
	align-items: center;
	.author{
		display: inline-block;
		padding: $md-space 0;
		font-weight: bold;
	}
	svg{
		height: 1.65rem;
		display: block;
		width: auto;
		margin-right: $lg-space;
	}
	.flair{
		display: inline-block;
		margin-left: $sm-space;
		color: $faded-text;
	}
}

@each $team, $colors in $teams {
	.meta[class*=" #{$team}"]{
		.user{
			padding-right: $xl-space;
			color: map-get($colors, foreground);
			background-color: map-get($colors, background);
			border-bottom: 1px solid map-get($colors, border);
		
			svg .primary{
				fill: map-get($colors, logo);
			}
		}
		.flair{
			display: none;
		}
	}
}

.op, .flair{
	font-size: 90%;
}

.op{
	padding: 0 $sm-space;
	background-color: black;
	border: 1px solid white;
	color: white;
	display: inline-block;
	margin: 0 $sm-space;
}

.comment .score{
	flex-grow: 0;
	margin-left: $lg-space;
	font-size: 110%;
	font-weight: bold;
}

.comment .body{
	padding: $xl-space;
	padding-top: $md-space;
}

.topLevelComment{
	margin: $lg-space 0;
}

.reply{
	padding-bottom: 0;
	padding-top: 0;
}

.comment{
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}