.meta{
	display: inline-block;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem;
}

.comment .meta{
	border: 1px solid #ccc;
}

.author{
	display: inline-block;
}

.flair{
	margin-left: 0.15em;
	color: $faded-text;
}

@each $team, $colors in $teams {
	.comment .meta[class*=" #{$team}"]{
		color: map-get($colors, foreground);
		background-color: map-get($colors, background);
		border: none;
		.flair{
			display: none;
		}
	}
}

.op, .flair{
	font-size: 90%;
}

.op{
	padding: 0 0.35em;
	background-color: #555;
	border: 1px solid white;
	color: white;
	display: inline-block;
	margin-left: 5px;
}

.comment .score{
	line-height: 0;
	margin-right: 5px;
	font-size: 110%;
	font-weight: bold;
}

.topLevelComment{
	margin: 0.75rem 0;
}

.reply{
	padding-bottom: 0;
	padding-top: 0;
}

.comment{
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}