/* TABS */

tabs{
	display: flex;
	transition: all .5s ease;
	transition-delay: 1s;
	max-height: 0;
	overflow: hidden;
}

header:not(.waiting):hover tabs,
header:not(.waiting) tabs:hover{
	max-height: 10em;
}

.tab{
	flex-grow: 1;
	padding: 0.6em;
	color: #888;
	text-align: center;
}

.tab.active{
	padding-bottom: 0.3em;
	border-bottom: 0.3em solid #F73906;
	color: #F73906;
	cursor: default;
}

.tab:not(.active):hover{
	background-color: #eee;
}