<div class="comment container {{comment.author_flair_css_class}}">
	<div class="meta flexer semiCollapsable">
		<div class="stats">
			<h2>{{ comment.score | kthousand }}</h2>
		</div>
		<div class="flex-grow">
			<span class="author">
				{{ comment.author }}
			</span>
			<span class="flair" ng-if="comment.author_flair_text">
				{{ comment.author_flair_text }}
			</span>
			<span class="op" ng-if="comment.author === vm.thread.author">
				OP
			</span>
			{{ vm.thread.author }}
		</div>
	</div>
	<div class="collapsable">
		<div ng-bind-html="comment.body_html | html">
		</div>
		<div class="reply fadeIn" ng-repeat="singleComment in comment.replies">
			<comment comment="singleComment"></comment>
		</div>
	</div>
</div>