<div class="comment">
	<div class="meta flexer semiCollapsable {{comment.author_flair_css_class | nbaflair}}">
		<div class="user">
			<div class="score">
				{{ comment.score | kthousand }}
			</div>
			<ng-include 
				ng-init="svgUrl = 'media/teams/' + (comment.author_flair_css_class | nbaflair).toLowerCase() + '.svg'" 
				src="svgUrl" ng-if="comment.author_flair_css_class | nbaflair"> 
			</ng-include>
			<div class="author">
				{{ comment.author }}
			</div>
			<div class="op" ng-if="comment.author === op">
				OP
			</div>
			<span class="flair" ng-if="comment.author_flair_css_class">
				{{ comment.author_flair_text }}
			</span>
		</div>
	</div>
	<div class="collapsable">
		<div ng-bind-html="comment.body_html | html" class="body">
		</div>
		<div class="reply container fadeIn" ng-repeat="singleComment in comment.replies track by singleComment.id">
			<comment comment="singleComment" op="op"></comment>
		</div>
	</div>
</div>