<div class="comment container {{comment.author_flair_css_class}}" id="comment-{{comment.id}}">
	<div class="meta flexer">
		<div class="stats">
			<h2>{{ comment.score | kthousand }}</h2>
		</div>
		<div>
			<span class="author">
				{{ comment.author }}
			</span>
			<span class="flair" ng-if="comment.author_flair_text">
				{{ comment.author_flair_text }}
			</span>
			<span class="op" ng-if="comment.author === vm.settings.thread.author">
				OP
			</span>
		</div>
	</div>
	<div>
		<div ng-bind-html="comment.body_html | html">
		</div>
		<div class="reply" ng-repeat="singleComment in comment.replies">
			<comment comment="singleComment"></comment>
		</div>
	</div>
</div>